version: '3.3'
services:
  wireguard:
    image: linuxserver/wireguard
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{ wireguard.timezone }}
      - SERVERURL={{ ansible_facts['ec2_public_ipv4'] | default(hostvars[inventory_hostname]['ansible_host']) }}
      - SERVERPORT={{ wireguard.server_port }}
      - PEERS={{ wireguard.peers }}
      - PEERDNS={{ wireguard.peer_dns }}
    volumes:
      - {{ wireguard.config_dir }}:/config
      - /lib/modules:/lib/modules
      - /usr/src:/usr/src
    ports:
      - {{ wireguard.server_port }}:{{ wireguard.server_port }}/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped
